{% extends "mi_botica/base.html" %}
{% block title %}
<title>Delivery</title>
{% endblock %}
{% block content %}
<section class="mbr-section content4 cid-rZ2BeBb3kp" id="content4-1i" style="padding-top: 50px">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1"><strong>Nuestro Delivery</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Slogan Empresa botica providencia, Slogan Empresa botica providencia, Slogan Empresa botica providencia, 
                </h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article extСontent cid-rZ2B9Pqaz2" id="extContent1-1g">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style pt-5">
                
                
                
            <div class="mb-5">
                    <h4 class="counter">01.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">Paso 1</h3>
                    <p class="mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, commodi cum dicta dolorum earum ipsa, iure laudantium nam nobis odio odit possimus recusandae sunt tenetur vero voluptas. Cupiditate, laudantium.</p>
                </div><div class="mb-5">
                    <h4 class="counter">01.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">Paso 1</h3>
                    <p class="mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, commodi cum dicta dolorum earum ipsa, iure laudantium nam nobis odio odit possimus recusandae sunt tenetur vero voluptas. Cupiditate, laudantium.</p>
                </div><div class="mb-5">
                    <h4 class="counter">01.</h4>
                    <h3 class="mb-3 mbr-fonts-style display-5">Paso 1</h3>
                    <p class="mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, commodi cum dicta dolorum earum ipsa, iure laudantium nam nobis odio odit possimus recusandae sunt tenetur vero voluptas. Cupiditate, laudantium.</p>
                </div></div>
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-rZ2BA8s0A0" id="content8-1j">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-secondary display-4" href="../productos">PRODUCTOS</a>
                    <a class="btn btn-info display-4" href="../nosotros">SOBRE NOSOTROS</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}