{% extends "mi_botica/base.html" %}
{% block title %}
<title>Olivide mi contraseña</title>
{% endblock %}

{% block content %}

<section class="mbr-section content4 cid-rZ2zE9yw0v" id="content4-x" style="padding-top: 40px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1">
                	<strong>Olvide mi contraseña de Mi Botica Providencia</strong>
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                	Ups! Hubo un error
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-rZ2DQPnSIg" id="content8-1q">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                    El email introducido no esta en nuestra base de datos. Puedes crear un cuenta nueva.
                </h3>
                <br>
                <a class="btn btn-info display-4" href="../add_user">CREAR NUEVA CUENTA</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}