{% extends "mi_botica/base.html" %}
{% block title %}
<title>Productos</title>
{% endblock %}

{% block content %}

<section class="mbr-section content4 cid-rZ2DTWjmS2" id="content4-1r">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>PRODUCTOS</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Conoce los productos de Botica Providencia</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="section-table cid-rZ2En54Owg" id="table1-1s">
  <div class="container container-table">
      <div class="table-wrapper">
        <div class="container"></div>
        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                <th class="head-item mbr-fonts-style display-7">PRODUCTO</th>
                <th class="head-item mbr-fonts-style display-7"></th>
              </tr>
            </thead>
            <tbody>
              {% for c in productos %}
              <tr> 
                <td class="body-item mbr-fonts-style display-7">
                  {{c.descripcion}}
                </td>
                <td class="body-item mbr-fonts-style display-7" style="text-align: right;">
                  <form action='../productos_view/' method="get" enctype="multipart/form-data">
                    <input type="hidden" name="producto" value={{c.idproductos}}>
                    <button type="submit" class="btn btn-info display-4">Ver producto</button>
                  </form>
                </td>     
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
    </div>
</section>
{% endblock%}