{% extends "mi_botica/base.html" %}
{% block title %}
<title>Nuevo Usuario</title>
{% endblock %}

{% block content %}

<section class="mbr-section content4 cid-rZ2zKo9ybH" id="content4-11">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1"><strong>{{titulo}}</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Botica Providencia</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rZ2Aj82F4Q" id="content9-16">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 10%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                    {{alerta}}
                </div>
            <hr class="line" style="width: 10%;">
        </div>
        </div>
</section>

<section class="mbr-section content8 cid-rZ2AulOfqt" id="content8-17">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-secondary display-4" href="../productos">PRODUCTOS</a>
                    <a class="btn btn-info display-4" href="../login">INGRESAR</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}