{% extends "mi_botica/base.html" %}
{% block title %}
<title>Productos</title>
{% endblock %}

{% block content %}
<section class="features11 cid-rZ2CGk0A6q" id="features11-1n">
 <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 35%;">
                    <img src="static/assets/images/logo-bp-628x274.png" alt="Mobirise" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Producto 1</h2>
                    <div class="mbr-section-text">
                        
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7"></h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                   Mobirise offers several themes that include sliders, galleries, article blocks, counters, accordions, video, animated text, live filtered tables, shop, contact forms, lightbox, testimonials, timelines, google map, progress bars and more. 
                                </p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section content8 cid-rZ2DmZUDo4" id="content8-1o">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-info display-4" href="../productos">VOLVER A PRODUCTOS</a>
                    <a class="btn btn-secondary display-4" href="../pre_confirmacion">FINALIZAR COMPRA</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}