{% extends "mi_botica/base.html" %}
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block content %}
<section class="extHeader cid-rZ2uo5bOSV" id="extHeader33-2"> 
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="image-element col-xl-6">
                <div class="img-wrap" style="height: 100%; width: 100%;">
                    <img src="static/assets/images/18-1.jpeg" alt="" title="">
                </div>
            </div>
            <div class="text-element col-xl-6">
                
                
                <h2 class="mbr-section-title mbr-fonts-style pb-4 mbr-white display-1"><strong>Botica Providencia</strong></h2>
                <div class="paragraphs-wrapper pb-4">
                    <p class="mbr-text mbr-fonts-style mbr-lighter display-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, in odit asperiores modi tenetur enim optio excepturi saepe nemo quae voluptates temporibus molestias aliquid, perferendis placeat. Quasi facilis optio ex?
                    </p>
                    
                </div>
                <div class="mbr-section-btn"><a class="btn btn-lg btn-info display-4" href="../productos">Comprar Ahora</a></div>
            </div>
        </div>
    </div>          
</section>

<section class="extFeatures cid-rZ2vK2dPKs" id="extFeatures7-3">
	<div class="container">
		<div class="row justify-content-left pt-5">
			<div class="col-md-6 row-item col-lg-4">
				<div class="wrapper">
					<div class="card-img pb-3 align-left">
						<span class="mbr-iconfont mbri-bold"></span>
					</div>
					<h4 class="mbr-fonts-style mbr-card-title align-left pb-2 display-5">Confia en nosotros</h4>

					<p class="mbr-text mbr-fonts-style align-left display-7">Lorem ipsum dolor amet, consecte tempor incididunt ut labore et dolore tumber tur adipisicing elit.</p>
				</div>
			</div>

			<div class="col-md-6 row-item col-lg-4">
				<div class="wrapper">
					<div class="card-img pb-3 align-left">
						<span class="mbr-iconfont mbri-cart-add"></span>
					</div>
					<h4 class="mbr-fonts-style mbr-card-title align-left pb-2 display-5">Delivery a tu casa</h4>

					<p class="mbr-text mbr-fonts-style align-left display-7">Lorem ipsum dolor amet, consecte tempor incididunt ut labore et dolore tumber tur adipisicing elit.</p>
				</div>
			</div>

			<div class="col-md-6 row-item col-lg-4">
				<div class="wrapper">
					<div class="card-img pb-3 align-left">
						<span class="mbr-iconfont mbri-success"></span>
					</div>
					<h4 class="mbr-fonts-style mbr-card-title align-left pb-2 display-5">Tu botica de siempre</h4>
					<p class="mbr-text mbr-fonts-style align-left display-7">Lorem ipsum dolor amet, consecte tempor incididunt ut labore et dolore tumber tur adipisicing elit.</p>
				</div>
			</div>

			
		</div>
	</div>
</section>
<section class="form cid-rZ2xFtN0lM" id="extForm25-6">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 pb-4 align-center col-sm-12">
                <h5 class="mbr-fonts-style display-2">Contacto</h5>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
            </div>



            <div class="col-md-12 col-lg-6 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler">
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <div class="form-row">
                                <div class="col" data-for="nameFirst">
                                    <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri" for="nameFirst-extForm25-6"></span>
                                    <input type="text" name="nameFirst" placeholder="First Name" data-form-field="nameFirst" class="form-control text-multiple" value="" id="nameFirst-extForm25-6">
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" data-for="email">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri" for="email-extForm25-6"></span>
                            <input type="email" name="email" placeholder="Email" class="form-control display-7">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" style="" data-for="phone">
                            <span class="mbr-iconfont mobi-mbri-phone mobi-mbri" for="phone-extForm25-6"></span>
                            <input type="tel" name="phone" placeholder="Phone" class="form-control display-7">
                        </div>
                        <div data-for="subject" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" for="subject-extForm25-6"></span>
                            <input type="text" name="subject" placeholder="Subject" class="form-control display-7">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="message">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" for="message-extForm25-6"></span>
                            <textarea name="message" placeholder="Message" class="form-control display-7"></textarea>
                        </div>

                        <div class="col-auto m-auto mbr-section-btn">
                        	<button type="submit" class="btn btn-info display-7">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}